# Projeto 2 - Ciência dos Dados

# Analise de pardidas de league of legends

### Alunos:

 - Felipe Junqueira 
 - João Roxo 

## Link para base de dados
- https://www.kaggle.com/bobbyscience/league-of-legends-diamond-ranked-games-10-min


A partir da base de dados coletada foi utilizado a biblioteca 'scikit-learn' para assim usufruir das técnicas Naive Bases e Decision tree classifier para classificação dos resultados do Jogo da Velha.

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

In [7]:
rank=pd.read_excel('high_diamond_ranked_10min.xlsx')
rank.head(1)

,gameId,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,...,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin
0,4519157822,0,28,2,1,9,6,11,0,0,...,0,16567,6.8,17047,197,55,-643,8,19.7,1656.7

In [4]:
#Tiramos a coluna gameID, posi não é necessaria na nossa análise visto que o que queremos são os dados do jogo e não 
#o seu respectivo código 
ranked=rank.drop(columns=['gameId'])
ranked.head(3)

,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueHeralds,...,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin
0,0,28,2,1,9,6,11,0,0,0,...,0,16567,6.8,17047,197,55,-643,8,19.7,1656.7
1,0,12,1,0,5,5,5,0,0,0,...,1,17620,6.8,17438,240,52,2908,1173,24.0,1762.0
2,0,15,0,0,7,11,4,1,1,0,...,0,17285,6.8,17254,203,28,1172,1033,20.3,1728.5

In [11]:
ranked['blueWins'].mean()

0.4990383642069035

   Como podemos ver a cima por mais que próximo a média de vitorias do time azul não é igual a do time vermelho uma vez que não há empate nesse jogo, mas por que isso acontece? 
 
   Nesse jogo há objetivos a serem disputadis que influenciam para o resultado final do jogo, como por exemplo: o dinheiro obtido ao longo da partida, as estruturas(torres) que são destruidas, os monstros que são derrotados entre outros. 
    
   Mas será que há uma dispariedade nesses quesitos que influemciam a vitoria dos dois times?

- Vamos colocar os dados de visão do jogo lado a lado para ver o que acontece na media dos jogos.

In [15]:
a = ranked['blueWardsPlaced'].mean()
b = ranked['redWardsPlaced'].mean()
print(a,b)

22.28828828828829 22.367952221884806

Como podemos ver na média a equipe vermelha colocou mais wards que a equipe azul, o que seria uma hipótese pela qual 
a equipe vermelha ganhar mais vezes, mas nossa análise não se restringe apenas a dados de visão 

Queremos saber se apartir de dados recebidos qual será o time vencedor, uma vez que dados como visão e torres não possuem o mesmo peso no jogo, assim vamos utilizar os metodos naivebase, decision trees para obter os resultados desejados e no final comparar os dois métodos afim de ver qual é o mais adequado para esse problema.